
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #f7f9ff;
  font-family: "Inter", sans-serif;
}


.login-page.bg-full {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #f7f9ff, #ffffff);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 190px;
  padding-bottom: 100px;
}

.login-page .login-header {
  text-align: center;
  margin-bottom: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page .logo-box {
  width: 80px;
  height: 80px;
  background: #195be9;
  border-radius: 17px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto 10px auto;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.097);
}

.login-page .login-title {
  font-size: 30px;
  font-weight: 700;
  color: #1b1f24;
  width: 100%;
  text-align: center;
  margin-top: 10px !important;
}

.login-page .login-subtitle {
  font-size: 16px;
  color: #2b2c2e;
  margin-top: 4x;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}


.login-page .login-card {
  width: 450px;
  background: #ffffff;
  padding: 35px;
  margin: 2px auto;

  border-radius: 22px;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.12);
}

.login-page .login-card-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

.login-page .login-label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 10px;
  display: block;
}


.login-page .input-wrap {
  position: relative;
  margin-bottom: 18px;
}

.login-page .icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  font-size: 18px;
}

.login-page .login-input {
  width: 100%;
  padding: 12px 14px 12px 42px;

  border-radius: 10px;
  border: 1px solid #d9e2ef;
  
  background: #f1f5f9;           
  color: #111827;

  font-size: 15px;
  transition: 0.25s ease;

  -webkit-appearance: none;
  appearance: none;

  outline: none;
}

.login-page .login-input::placeholder {
  color: #9ca3af;
}

.login-page .login-input:focus {
  border-color: #195be9;
  background: #eef6ff;
  box-shadow: 0 0 0 3px rgba(30, 102, 255, 0.18);
}


.login-page .otp-row {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.login-page .otp-flex {
  flex: 1;
}


.login-page .otp-box {
  padding: 12px 18px;
  background: #e5e7eb;
  color: #111;

  border-radius: 10px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}


.login-page .login-btn {
  width: 100%;
  padding: 14px;

  border-radius: 10px;
  border: none;
  background: #1e66ff;

  font-size: 16px;
  font-weight: 700;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  cursor: pointer;
  transition: 0.25s ease;
}

.login-page .login-btn:hover {
  background: #0d53d6;
}

.login-page .login-btn-icon {
  margin-top: 1px;
}

.login-page .demo {
  background: #eef6ff;
  padding: 15px;
  border-radius: 12px;

  font-size: 14px;
  color: #1b1f24;
  margin-top: 22px;
}

.login-page .login-footer {
  margin-top: 32px;
  color: #666;
  font-size: 13px;
}
