/* Reset mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Nền FULL toàn màn hình */
.bg-full {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #eaf2ff, #ffffff);
  
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 70px;
  padding-bottom: 40px;
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 35px;
}

.logo-box {
  width: 70px;
  height: 70px;
  background: #0d6efd;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  box-shadow: 0 8px 22px rgba(0, 70, 209, 0.25);
}

.title {
  margin-top: 15px;
  font-size: 28px;
  font-weight: 700;
  color: #1b1f24;
}

.subtitle {
  font-size: 15px;
  margin-top: 4px;
  color: #787c82;
}

/* CARD LOGIN */
.card {
  width: 460px;
  background: #fff;
  padding: 35px;
  margin: 0 auto;
  border-radius: 22px;

  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.12);
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

/* INPUT LABEL */
.label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 4px;
  display: block;
}

/* INPUT FIELD */
.input-wrap {
  position: relative;
  margin-bottom: 18px;
}

.icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  width: 100%;
  padding: 12px 14px 12px 42px;
  border-radius: 10px;
  border: 1px solid #dcdfe6;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
}

.input:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.18);
}

/* OTP FIELD */
.otp-row {
  display: flex;
  gap: 12px;
}

.otp-flex {
  flex: 1;
}

.otp-box {
  padding: 12px 18px;
  background: #e5e7eb;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* BUTTON */
.btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #0d6efd;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.btn:hover {
  background: #0b5ed7;
}

/* DEMO INFO */
.demo {
  background: #eef6ff;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  margin-top: 22px;
  border-left: 4px solid #0d6efd;
}

/* FOOTER */
.footer {
  margin-top: 32px;
  color: #666;
  font-size: 13px;
}
