/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

/* BACKGROUND FULL PAGE */
.bg-full {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #eaf2ff, #ffffff);

  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-top: 140px !important;   /* kéo toàn bộ logo + tiêu đề xuống */
  padding-bottom: 40px;
}

/* HEADER LOGO + TEXT */
.header {
  text-align: center;
  margin-bottom: 35px;
}

.logo-box {
  width: 82px;
  height: 82px;
  background: #1e66ff;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto 22px auto;
  box-shadow: 0 10px 32px rgba(30, 102, 255, 0.28);
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #1b1f24;
}

.subtitle {
  font-size: 16px;
  margin-top: 6px;
  color: #787c82;
}

/* LOGIN FORM CARD */
.card {
  width: 480px;
  background: #fff;
  padding: 40px;
  margin-top: 30px;
  border-radius: 24px;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.10);
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 28px;
}

/* FORM LABEL */
.label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 6px;
  display: block;
}

/* INPUT FIELD */
.input-wrap {
  position: relative;
  margin-bottom: 20px;
}

.icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #9ca3af;
}

.input {
  width: 100%;
  padding: 12px 14px 12px 42px;
  border-radius: 10px;
  border: 1px solid #dcdfe6;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
}

.input:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.18);
}

/* OTP FIELD */
.otp-row {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.otp-flex {
  flex: 1;
}

.otp-box {
  padding: 12px 18px;
  background: #e5e7eb;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ERROR MESSAGE */
.error-box {
  margin-top: 12px;
  margin-bottom: 10px;
  padding: 12px 14px;
  border-radius: 10px;
  background: #ffecec;
  border: 1px solid #f5b5b5;
  color: #d62828;
  font-size: 14px;
}

/* LOGIN BUTTON */
.btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #0d6efd;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  transition: 0.2s;
}

.btn:hover {
  background: #0b5ed7;
}

/* DEMO INFO BOX */
.demo {
  background: #f0f6ff;
  padding: 16px;
  border-radius: 12px;
  font-size: 14px;
  margin-top: 25px;
  color: #333;
}

/* FOOTER */
.footer {
  margin-top: 32px;
  color: #666;
  font-size: 13px;
  text-align: center;
}
