* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


.bg-full {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #eaedf4, #ffffff);
  
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 70px;
  padding-bottom: 100px;
}


.header {
  text-align: center;
  margin-bottom: 35px;
}

.logo-box {
  width: 80px;
  height: 80px;
  background: #1e66ff;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px auto;
  box-shadow: 0 8px 25px rgba(30, 102, 255, 0.25);
}


.title {
  margin-top: 15px;
  font-size: 28px;
  font-weight: 700;
  color: #1b1f24;
}

.subtitle {
  font-size: 15px;
  margin-top: 4px;
  color: #787c82;
  align-items: center;
}


.card {
  width: 460px;
  background: #fff;
  padding: 35px;
  margin: 0 auto;
  border-radius: 22px;

  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.12);
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}


.label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 4px;
  display: block;
}


.input-wrap {
  position: relative;
}

.icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  width: 100%;
  padding: 12px 14px 12px 42px;
  border-radius: 10px;
  border: 1px solid #dcdfe6;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
}

.input:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.18);
}

.field-wrap {
  position: relative;
}

.tooltip {
  position: absolute;
  left: 0;
  bottom: -28px;  
  background: #fff;
  padding: 6px 12px;
  font-size: 13px;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  color: #444;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
  white-space: nowrap;
  z-index: 20;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-4px); }
  to   { opacity: 1; transform: translateY(0); }
}


.otp-row {
  display: flex;
  gap: 12px;
}

.otp-flex {
  flex: 1;
}

.otp-box {
  padding: 12px 18px;
  background: #e5e7eb;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #0d6efd;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-icon {
  margin-top: 1px;
}

.btn:hover {
  background: #0b5ed7;
}

.demo {
  background: #eef6ff;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  margin-top: 22px;
}

.footer {
  margin-top: 32px;
  color: #666;
  font-size: 13px;
}
