/* Background */
.login-background {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom right, #eaf2ff, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

/* Logo */
.login-logo-box {
  width: 70px;
  height: 70px;
  background: #0d6efd;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 20px rgba(13, 110, 253, 0.3);
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.login-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 15px;
  color: #1b1f24;
}

.login-subtitle {
  color: #777;
  margin-top: 4px;
}

/* CARD */
.login-card {
  background: white;
  padding: 35px;
  width: 420px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.card-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* Input */
.form-label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
}

.form-group {
  margin-top: 5px;
  margin-bottom: 20px;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 10px;
}

.input-field {
  width: 100%;
  padding: 12px 12px 12px 38px;
  border-radius: 10px;
  border: 1px solid #dcdfe6;
  font-size: 15px;
  outline: none;
}

.input-field:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.2);
}

/* OTP */
.otp-row {
  display: flex;
  gap: 12px;
}

.otp-input {
  flex: 1;
}

.otp-box {
  background: #e5e7eb;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
}

/* Button */
.login-button {
  width: 100%;
  padding: 14px;
  background: #0d6efd;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.login-button:hover {
  background: #0b5ed7;
}

/* Demo box */
.demo-box {
  margin-top: 25px;
  padding: 15px;
  background: #eef6ff;
  border-left: 4px solid #0d6efd;
  border-radius: 8px;
  font-size: 14px;
}

/* Footer */
.login-footer {
  margin-top: 25px;
  color: #555;
  font-size: 13px;
}
