.layout {
  display: flex;
  background: #f3f4f6;
  min-height: 100vh;
}

.main {
  margin-left: 250px;
  flex-grow: 1;
  padding: 25px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 25px;
}

/* KPI Top Row */
.kpi-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 25px;
}

.kpi-box {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  border: 1px solid #e5e7eb;
}

.kpi-label {
  font-size: 14px;
  color: #6b7280;
  margin: 0;
}

.kpi-box h3 {
  margin: 8px 0;
  font-size: 28px;
}

.green {
  color: #059669 !important;
}

.red {
  color: #dc2626;
}

/* Chart Row */
.charts-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  margin-bottom: 30px;
}

.card {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  border: 1px solid #e5e7eb;
}

.chart {
  height: 370px;
}

/* KPI row 3 */
.kpi-row-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-bottom: 30px;
}

.kpi-card {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #e5e7eb;
}

.kpi-card h2 {
  font-size: 32px;
  margin: 5px 0;
}

/* TABLE */
.table-card {
  margin-top: 15px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.table-header h3 {
  font-size: 18px;
  margin: 0;
}

.table-header .view-all {
  color: #2563eb;
  font-size: 14px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

thead tr {
  background: #f9fafb;
}

th, td {
  padding: 12px 10px;
  border-bottom: 1px solid #e5e7eb;
}

tbody tr:hover {
  background: #f3f4f6;
}

td.green {
  color: #059669;
  font-weight: 600;
}
